<div class="container">
    <div class="row">
        <div class="col m12 s12 center">
            <img style="border-radius: 50%; height: 15rem; width: auto;" src="/assets/images/burgerimage.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col m12 s12 center">
            <h1>Eat-Da-Burger!!!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col m7 s12 center">
            {{#each burgers}}
                {{#unless devoured}}
                    <div class="row">

                        <div class="col m9 s12 center">
                            {{this.id}}. {{this.burger_name}}
                        </div>
                        <div class="col m3 s12 center">
                            <p>
                                <button data-burgerid="{{this.id}}" class="devour waves-effect waves-light btn">Devour it!</button>
                            </p>
                        </div>
                    </div>
                {{/unless}}
            {{/each}}
        </div>
        

        <div class="col m5 s12 center">
            {{#each burgers}}
                {{#if devoured}}
                    <div class="col m12 s12">
                        {{this.id}}. {{this.burger_name}}
                    </div>
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>


<form id="addburger" class="button-size center">
    <div class="row">
        <div class="input-field col m12 s12">
          <input id="icon_prefix" type="text" class="validate" name="burger_name">
          <label for="icon_prefix">New Burger</label>
          <button type="submit" class="waves-effect waves-light btn">Submit</button>
        </div>
    </div>
</form>
<p class="center">Enter a burger you want to eat Click the "Submit" button</p>
<br>

<script>
    $(".devour").on("click", function(event) {
        var id = $(this).data("burgerid");
        console.log("ID: " + id);
        $.ajax("/api/burgers/" + id, {
            type: "PUT"
        }).then(
            () => {
                console.log("delete id ", id);
                location.reload();
            }
        );
    });

    $("#addburger").on("submit", function(event) {
        event.preventDefault();
        var value = {
            burger_name: $("#addburger [name=burger_name]").val()
        };
        console.log(value);

        $.ajax("/api/burgers", {
            type: "POST",
            data: value
        }).then( () => {
            console.log("added new burger");
            location.reload();
        });
    });

</script>